<form name="adicionarForm">
  <div class="row prof-hearder">
    <div class="col-xs-12">
      <div class="form-group input-group input-title">
        <label><a ui-sref="usuarios" rel="prev" title="Voltar">Usuários</a></label>
        <input type="text" class="form-control" name="nome" placeholder="Nome do(a) Usuário(a)" ng-model="usuario.dado.Nome" ng-show="usuario.state == 'usuarioAdicionar' || usuario.edition"
          required>
        <h1 class="page-header" ng-bind="usuario.dado.Nome" ng-show="usuario.state == 'usuarioDetails' && !usuario.edition"></h1>
        <span class="input-group-btn">
				<button class="btn btn-outline btn-primary" type="button" ng-click="usuario.Adicionar()" title="Adicionar Usuário" ng-show="usuario.state == 'usuarioAdicionar'" ng-disabled="adicionarForm.$invalid">
					Adicionar
				</button>
        <div ng-show="usuario.state == 'usuarioDetails' && usuario.edition"> 
          <button class="btn btn-outline btn-primary" type="button" ng-click="usuario.Atualizar()" title="Salvar Alterações"  ng-disabled="adicionarForm.$invalid">
            Salvar
          </button>
          <button class="btn btn-outline btn-danger" type="button" ng-click="usuario.CancelarEdicao()" title="Cancelar Alterações">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <button class="btn btn-outline btn-primary" type="button" ng-click="usuario.edition = true" title="Editar Informações" ng-show="usuario.state == 'usuarioDetails' && !usuario.edition">
					<i class="fa fa-pencil" aria-hidden="true"></i>
				</button>
			</span>
      </div>
      <!--form-group-->
    </div>
    <!--col xs 12-->
  </div>
  <!--row-->

  <div class="row" ng-show="usuario.state == 'usuarioDetails' && !usuario.edition">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="email">E-mail</label>
        <p class="form-control-static" ng-bind="usuario.dado.Email"></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="cpf">CPF</label>
        <p class="form-control-static" ng-bind="usuario.dado.Cpf"></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="cargo">Cargo</label>
        <p class="form-control-static" ng-bind="usuario.GetCargo(usuario.dado.IdGrupoUsuario)"></p>
      </div>
    </div>
  </div>

  <div class="row" ng-show="usuario.state == 'usuarioAdicionar' || usuario.edition">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" name="email" class="form-control" ng-model="usuario.dado.Email" required>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="text" name="senha" class="form-control" ng-model="usuario.dado.Senha" required>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" name="cpf" class="form-control" ng-model="usuario.dado.Cpf" mask="999.999.999-99">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="cargo">Cargo</label>
        <select name="cargo" class="form-control" ng-model="usuario.dado.IdGrupoUsuario" required>
          <option value=""></option>
          <option value="'1'">Administrador</option>
          <option value="'0'">Usuário</option>
        </select>
      </div>
    </div>
  </div>
</form>