@media print {
  .navbar-static-top {
    display: none;
  }
  .desenvolvedor {
    display: none;
  }
  .page-wrapper {
    margin: 10px 0 0
  }
  .btn, .thumbnail-box {
    display: none;
  }
  .alunos-lista tr td:first-child {
    display: none;
  }
  .header-search {
    display: none;
  }
}